<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<a th:href="@{/employees/}">
    <button type="button">Home</button>
</a>
	<form th:action="@{/employees/update/save}" th:object="${employee}" method="post">

    <input type="hidden" th:field="*{id}" />
    <input type="hidden" th:field="*{address.id}" />

    <h3>Employee Details</h3>
    Name: <input type="text" th:field="*{name}" /><br/>
    Email: <input type="email" th:field="*{email}" /><br/>
    Contract: <input type="text" th:field="*{contractType}" /><br/>

    <h3>Department</h3>
    <select th:field="*{department.id}">
        <option th:each="dept : ${departments}" 
                th:value="${dept.id}" 
                th:text="${dept.name}"
                th:selected="${dept.id == employee.department.id}"></option>
    </select><br/>

    <h3>Address Details</h3>
    Street: <input type="text" th:field="*{address.street}" /><br/>
    City: <input type="text" th:field="*{address.city}" /><br/>
    State: <input type="text" th:field="*{address.state}" /><br/>
    Pincode: <input type="text" th:field="*{address.pincode}" /><br/>

    <button type="submit">Save</button>
</form>

	
</body>
</html>