body {
    font-family: Arial, sans-serif;
    background: #948979;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.login-container {
    background: #DFD0B8;
    padding: 20px 25px 20px 25px;
    width: 500px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px ;
    font-size: 14px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 3px;
}

button {
    padding: 10px;
    background: #222831;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
