body {
    background-color: #727475;
}

.login-container {
    margin-top: 100px;
    max-width: 400px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}

.form-check-label {
    font-size: 14px;
}

.forgot-link {
    font-size: 14px;
    text-decoration: none;
}

.forgot-link:hover {
    text-decoration: underline;
}